<div class="animated fadeIn">

    <div class="row">
        <div class="col-12">

            <!-- My Submissions -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-users"></i>
                    All Players ({{totalItems}})
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <input type="text"
                               id="search"
                               name="search"
                               [formControl]="searchControl"
                               class="form-control"
                               placeholder="Search the name of the player" />
                    </div>


                    <ng-container *ngIf="players.length <= 0">
                        No player found.
                    </ng-container>

                    <ng-container *ngIf="players.length > 0">
                        <pagination *ngIf="totalItems > itemsPerPage"
                                    [totalItems]="totalItems"
                                    [itemsPerPage]="itemsPerPage"
                                    [boundaryLinks]="true"
                                    [maxSize]="maxSize"
                                    previousText="&lsaquo;"
                                    nextText="&rsaquo;"
                                    firstText="&laquo;"
                                    lastText="&raquo;"
                                    (pageChanged)="updatePlayersPage($event)"
                                    [(ngModel)]="currentPage"></pagination>

                        <table class="table table-striped table-leads">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th class="center">Competitions</th>
                                <th class="actions center">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr *ngFor="let player of players">
                                <td class="player-cell">
                                    <img class="img-avatar"
                                         [src]="player.picture_url" />

                                    <div class="player-name">
                                        <div *ngIf="player.name_extra">
                                            {{player.name_extra}} ({{player.sub}})
                                            <div class="player-name-sub">{{player.name_orig}}</div>
                                        </div>

                                        <div *ngIf="!player.name_extra">
                                            {{player.name_orig}} ({{player.sub}})
                                        </div>
                                    </div>
                                </td>

                                <td>{{player.email}}</td>

                                <td class="center">{{player.competitions_count}}</td>

                                <td class="actions center">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-danger"
                                            (click)="removePlayerWithConfirm(player)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination *ngIf="totalItems > itemsPerPage"
                                    [totalItems]="totalItems"
                                    [itemsPerPage]="itemsPerPage"
                                    [boundaryLinks]="true"
                                    [maxSize]="maxSize"
                                    previousText="&lsaquo;"
                                    nextText="&rsaquo;"
                                    firstText="&laquo;"
                                    lastText="&raquo;"
                                    (pageChanged)="updatePlayersPage($event)"
                                    [(ngModel)]="currentPage"></pagination>

                    </ng-container>
                </div>
            </div>

        </div>
    </div>

</div>
