<div class="animated fadeIn">

    <div class="row"
         *ngIf="competition">


        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-database"></i>
                    Data Description
                </div>

                <div class="card-body"
                     [innerHTML]="competition.materials_description">
                </div>
            </div>

        </div>

        <div class="col-12"
             *ngFor="let material of materials">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    File: {{material.filename}}
                </div>

                <div class="card-body"
                     [innerHTML]="material.description"
                     *ngIf="material.description && material.description.length > 0">
                </div>

                <div class="card-footer">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-primary"
                           href="{{getLink(material)}}"
                           target="_blank">
                            <i class="fa fa-download"></i>
                            Download
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
