@import "../../../scss/variables";


.card-title {
    .card-image {
        padding-bottom: 200px;
    }

    .card-image-title {
        height: 55px;

        padding-left: 1.25rem;

        font-family: $font-family-monospace;
        font-weight: 700;
        font-size: 20px;
    }
}
