<div class="spinner-container"
     *ngIf="completed">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>


<div class="register"
     *ngIf="!completed">

    <form novalidate
          [formGroup]="form"
          (ngSubmit)="register()">

        <div class="card register-card">
            <div class="card-body">
                <img class="register-logo"
                     src="assets/img/logo.png">

                <p class="text-muted">Create your account</p>

                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-user"></i>
                                </span>
                            </div>

                            <input type="text"
                                   class="form-control"
                                   [ngClass]="{'is-invalid' : name.invalid && (name.dirty || name.touched)}"
                                   id="name"
                                   placeholder="Enter your name"
                                   name="name"
                                   formControlName="name">

                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                 class="invalid-feedback">

                                <div *ngIf="name.errors.required">
                                    Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-picture"></i>
                                </span>
                            </div>

                            <input type="text"
                                   class="form-control"
                                   [ngClass]="{'is-invalid' : picture_url.invalid && (picture_url.dirty || picture_url.touched)}"
                                   id="picture_url"
                                   placeholder="Enter your picture URL"
                                   name="picture_url"
                                   formControlName="picture_url">

                            <div *ngIf="picture_url.invalid && (picture_url.dirty || picture_url.touched)"
                                 class="invalid-feedback">

                                <div *ngIf="picture_url.errors.required">
                                    Picture URL is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <div class="profile-picture" [ngStyle]="{'background-image': picture_url_css}"></div>
                </div>
            </div>

            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit"
                            class="btn btn-sm btn-primary"
                            [disabled]="!form.valid"
                            [processing]="registerProcessing">
                        <i class="fa fa-save"></i>
                        <span>Register</span>
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
